<h1><%= lang("Activation", "Aktivierung") %></h1>
<form method="post" action="<%= url("/activate/#{params[:id]}/#{params[:code]}") %>">
  <div class="form-group">
    <label for="manual_activation_code"><%= lang("Activation code:", "Aktivierungscode:") %></label>
    <input name="manual_activation_code" id="manual_activation_code" maxlength="64" />
  </div>
  <% if lang_en %>
    <p>You should have received the activation code via our website directly after registration.
      If you have received the activation code by any other means (e.g., via e-mail),
      then please do not proceed with the activation and instead
      <%= mailto_admin("contact the system administration") %>.</p>
  <% else %>
    <p>Sie sollten den Aktivierungscode über unsere Webseite erhalten haben,
      direkt nach der Registrierung.
      Wenn Sie einen Aktivierungscode auf einem anderen Wege erhalten haben
      (z.B. per E-Mail),
      dann fahren Sie bitte nicht mit der Aktivierung fort, sondern
      <%= mailto_admin("kontaktieren Sie die Systemadministration") %>.</p>
  <% end %>
  <%= erb :csrf_token %>
  <button type="submit"><%= lang("Submit", "Absenden") %></button>
</form>
