<% if lang_en %>
  <h1>Activation result</h1>
  <p>
    Activation for user <code><%= User.find(params[:id]).username %></code> successful.
    Login will be possible after 30 minutes from now.
  </p>
<% else %>
  <h1>Ergebnis der Aktivierung</h1>
  <p>
    Aktivierung für User <code><%= User.find(params[:id]).username %></code> war erfolgreich.
    Login wird in den nächsten 30 Minuten möglich sein.
  </p>
<% end %>
