<h1>Add user result</h1>
<ul>
  <li>Username: <code><%= @user.username %></code></li>
  <li>Password: <code><%= @password %></code></li>
</ul>
<p>Login will be possible after 30 minutes from now.</p>
<%= erb :password_explanation_en %>
