/* Customize the label (the container) */
label.checkbox {
    display: block;
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
label.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
span.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #dddddd;
    border: 2px solid #cccccc;
}

/* On mouse-over, add a colored border */
label.checkbox:hover input ~ span.checkmark {
    border: 2px solid #f29400;
}

/* Create the checkmark/indicator (hidden when not checked) */
span.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
label.checkbox input:checked ~ span.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
label.checkbox span.checkmark:after {
    left: 0.3em;
    width: 0.3em;
    height: 0.7em;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
