<h1>Select user to edit</h1>
<form method="post" action="<%= url("/edituser") %>">
  <div class="form-group">
    <label for="username_or_email">Username or e-mail address:</label>
    <input name="username_or_email" id="username_or_email" maxlength="64" />
  </div>
  <%= erb :csrf_token %>
  <button type="submit">Select user</button>
</form>
