<h1>Edit user result</h1>
<p>Changes saved for user <code><%= @retrieved_user.username %></code>.</p>
<p>Please check the result, this is the raw data:</p>
<dl>
  <% USERDB_RECORD_DISPLAY.each do |disp| %>
    <dt><%= disp[:title] %></dt>
    <dd>
      <% if disp[:escape] %>
        <%= h @retrieved_user_attrs[disp[:attribute]] %>
      <% else %>
        <%= @retrieved_user_attrs[disp[:attribute]] %>
      <% end %>
    </dd>
  <% end %>
</dl>
