<h1>Edit user <code><%= @user.username %></code></h1>
<form method="post" action="<%= url("/edituser/#{@user.id}") %>">
  <%= erb :user_form %>
  <%= erb :csrf_token %>
  <button type="submit">Save changes</button>
</form>
<%= erb :quota_defaults %>
