<h1><%= lang("Main menu", "Hauptmenü") %></h1>
<ul class="menu">
  <li><%= a URL_INFO, lang("Information on the Linux system", "Informationen zum Linux-System") %></li>
  <li><%= a "register", lang("Register for Linux system", "Registrierung für das Linux-System") %></li>
  <% if session[:admin] %>
    <li><%= a "adduser", "Add user (for administrators)" %></li>
    <li><%= a "edituser", "Edit user (for administrators)" %></li>
  <% end %>
</ul>
