<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IT at Department of Mathematics</title>
    <link rel="stylesheet" href="<%= url("/styles.css") %>" />
  </head>
  <body>
    <div class="page">
      <div class="head-cau">
        <ul>
          <li><%= a "https://www.uni-kiel.de",
              lang("Kiel University", "Christian-Albrechts-Universität zu Kiel") %></li>
        </ul>
      </div>
      <div class="head">
        <ul>
          <li><%= a "https://www.math.uni-kiel.de",
              lang("Department of Mathematics", "Mathematisches Seminar") %></li>
          <li class="last"><%= a "/", "<b>#{lang('IT Support', 'IT-Support')}</b>" %></b></li>
        </ul>
      </div>
      <div class="main">
        <%= yield %>
      </div>
      <div class="foot">
        <ul>
          <li><%= a "/legal_notice", lang("Legal notice", "Datenschutz und Impressum") %></li>
          <li>
            <%= case session[:lang]
            when "en" then a "/lang/de", "Sprache auf Deutsch schalten"
            when "de" then a "/lang/en", "Switch language to English"
            end %>
          </li>
          <% unless session[:admin] %><li><%= a "/login", "Login (admin)" %></li><% end %>
          <% if session[:admin] %><li><%= a "/logout", "Logout" %></li><% end %>
          <% if ! settings.production? %><li>(not in production mode)</li><% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
