<% if lang_en %>
  <h1>Legal notice</h1>
  <p>Our <%= a URL_LEGAL_NOTICE, "general legal notice" %> applies.</p>
  <h2>Contact</h2>
  <ul>
    <li><%= mailto_admin("Lasse Kliemann") %> (System administrator)</li>
    <li><%= a "https://www.math.uni-kiel.de", "Department of Mathematics" %> at Kiel Unversity</li>
    <li>Heinrich-Hecht-Platz 6</li>
    <li>24118 Kiel</li>
  </ul>
  <h2>Additional data protection statement</h2>
  <p>This website uses a session cookie for technical purposes.</p>
  <p>A data protection statement regarding registration for the Linux system of the department
    on this website and also regarding the use of that system is given
    in the corresponding <%= a URL_TERMS_OF_USE, "terms of use" %>.</p>
<% else %>
  <h1>Datenschutz und Impressum</h1>
  <p>Es gelten unsere <%= a URL_LEGAL_NOTICE, "allgemeinen rechtlichen Hinweise" %>.</p>
  <h2>Kontakt</h2>
  <ul>
    <li><%= mailto_admin("Lasse Kliemann") %> (Systemadministrator)</li>
    <li><%= a "https://www.math.uni-kiel.de", "Mathematisches Seminar" %>
      der Christian-Albrechts-Universität zu Kiel</li>
    <li>Heinrich-Hecht-Platz 6</li>
    <li>24118 Kiel</li>
  </ul>
  <h2>Zusätzliche Datenschutzerklärung</h2>
  <p>Diese Webseiten verwenden ein Session-Cookie aus technischen Gründen.</p>
  <p>Eine Datenschutzerklärung bezüglich der Registrierung für das Linux-System des Mathematischen Seminars,
    die man auf diesen Webseiten vornehmen kann,
    und auch eine Datenschutzerklärung bezüglich der Verwendung dieses Systems, findet sich in den zugehörigen
    <%= a URL_TERMS_OF_USE, "Nutzungsbedingungen" %>.</p>
<% end %>
