<h1>Login (for administrators)</h1>
<form method="post" action="<%= url("/login") %>">
  <div class="form-group">
    <label for="password">Password:</label>
    <input name="password" id="password" maxlength="64" type="password" />
  </div>
  <%= erb :csrf_token %>
  <button type="submit">Log in</button>
</form>
