<p>
  Once logged in, use the <code>passwd</code> command to change your password
  to something that is easier to remember than the cryptic one we gave you.
  It is recommended to use the <code>diceware</code> command to generate a secure
  and easy to remember password.
</p>
<p>
  For further information on the Linux system please consult the information pages at:
  <%= a URL_INFO, URL_INFO %>.
</p>
<p>
  The server for SFTP access (if enabled for you) is:
  <%= HOST_SRV1_PUBLIC_NAME %>.
</p>
<% if @user.valid_for %>
  <p>
    This account is valid for a duration of <%= ChronicDuration.output(@user.valid_for) %>,
    starting at <%= @user["_renewed_at"] %>.
    <b>When this time has expired, the account will first be locked and shortly after deleted,
      including all files stored under it.</b>
    Please <%= mailto_admin("contact the system administration") %> in good time
    in case you are looking for a more permanent solution.
  </p>
<% end %>
