<% if lang_en %>
  <%= erb :password_explanation_en %>
<% else %>
  <p>
    Sobald Sie sich eingeloggt haben,
    verwenden Sie bitte das Kommando <code>passwd</code>, um Ihr Passwort
    zu einem solchen zu ändern, das einfacher zu merken ist als das kryptische Passwort,
    das Sie von uns erhalten haben.
    Es wird empfohlen, das Kommando <code>diceware</code> zu verwenden,
    um ein sicheres und einfach zu merkendes Passwort zu generieren.
  </p>
  <p>
    Für weitere Informationen zum Linux-System konsultieren Sie bitte die Informationsseiten unter:
    <%= a URL_INFO, URL_INFO %>.
  </p>
  <p>
    Der Server für SFTP-Zugang (sofern für Sie freigeschaltet) ist:
    <%= HOST_SRV1_PUBLIC_NAME %>.
  </p>
  <% if @user.valid_for %>
    <p>
      Dieses Konto ist für eine Zeitdauer von <%= ChronicDuration.output(@user.valid_for) %> gültig,
      ab <%= @user["_renewed_at"] %>.
      <b>Wenn diese Zeit abgelaufen ist, wird das Konto zunächst gesperrt und kurz danach gelöscht,
        inklusive aller darunter abgelegten Dateien.</b>
      Bitte <%= mailto_admin("kontaktieren Sie die Systemadministration") %> rechtzeitig,
      wenn Sie an einer dauerhafteren Lösung interessiert sind.
    </p>
  <% end %>
<% end %>
