<h2>Quota defaults</h2>
<table class="quota">
  <tr><th>Group</th><th>Block quota</th><th>Inode quota</th></tr>
  <% LDAP_GROUPS_NAMES.each do |groupname| %>
    <tr>
      <td><%= groupname.split(".")[0] %></td>
      <td><%= QUOTA_DEFAULT[groupname][:block] %> GB</td>
      <td><%= QUOTA_DEFAULT[groupname][:inode] %> thousand</td>
    </tr>
  <% end %>
</table>
