<% if lang_en %>
  <h1>Register result</h1>
  <ul>
    <li>Username: <code><%= @user.username %></code></li>
    <li>Password: <code><%= @password %></code></li>
    <li>Activation code: <code><%= @user.manual_activation_code %></code></li>
  </ul>
  <p>
    An e-mail with an activation link will be sent to your e-mail address
    <code><%= @user.email %></code> within the next 5 minutes.
    Please also check your spam folder.
    You will need the activation code given above only once to activate your account.
    Login will not be possible before your account has been activated.
  </p>
<% else %>
  <h1>Ergebnis der Registrierung</h1>
  <ul>
    <li>Username: <code><%= @user.username %></code></li>
    <li>Passwort: <code><%= @password %></code></li>
    <li>Aktivierungscode: <code><%= @user.manual_activation_code %></code></li>
  </ul>
  <p>
    Eine E-Mail mit einem Link zur Aktivierung wird innerhalb der nächsten 5 Minuten
    and Ihre E-Mail-Adresse <code><%= @user.email %></code> gesendet werden.
    Bitte schauen Sie auch in den Spam-Ordner.
    Den oben angegebene Aktivierungscode benötigen Sie nur ein Mal zur Aktivierung ihres Kontos.
    Ein Login wird nicht möglich sein, bevor Ihr Konto aktiviert wurde.
  </p>
<% end %>
<%= erb :password_explanation %>
