<h1><%= lang("Register", "Registrierung") %></h1>
<form method="post" action="<%= url("/register") %>">
  <div class="form-group">
    <label for="first_name"><%= lang("First name:", "Vorname:") %></label>
    <input name="first_name" id="first_name" maxlength="64" />
  </div>
  <div class="form-group">
    <label for="last_name"><%= lang("Last name:", "Nachname:") %></label>
    <input name="last_name" id="last_name" maxlength="64" />
  </div>
  <div class="form-group">
    <label for="email"><%= lang("E-mail address (must end in <code>.uni-kiel.de</code>):",
                                "E-Mail-Adresse (muss auf <code>.uni-kiel.de</code> enden):") %></label>
    <input name="email" id="email" maxlength="64" />
  </div>
  <div class="form-group">
    <label class="checkbox">
      <%= lang("Hereby, I declare that I have read and accepted the
      #{a URL_TERMS_OF_USE, 'terms of use (including a data protection statement)'}.",
               "Hiermit erkläre ich, dass ich die
      #{a URL_TERMS_OF_USE, 'Nutzungsbedingungen (inklusive Datenschutzerklärung)'}
gelesen habe und anerkenne.") %>
      <input type="checkbox" name="terms_of_use" id="terms_of_use" />
      <span class="checkmark"></span>
    </label>
  </div>
  <%= erb :csrf_token %>
  <button type="submit"><%= lang("Register", "Registrieren") %></button>
</form>
