<% if lang_en %>
  <h1>Renewal result</h1>
  <p>
    Renewal for user <code><%= User.find(params[:id]).username %></code> successful.
    If the account had been locked,
    then login will be possible again after 30 minutes from now.
  </p>
<% else %>
  <h1>Ergebnis der Verlängerung</h1>
  <p>
    Verlängerung für den User <code><%= User.find(params[:id]).username %></code> war erfolgreich.
    Sollte das Konto gesperrt gewesen sein,
    so wird der Login innerhalb der nächsten 30 Minuten wieder möglich sein.
  </p>
<% end %>
