@import "reset";

@mixin standard-spacing {
    margin: 0.5em 0 0.5em 0;
}

@mixin wider-spacing {
    margin: 1em 0 1em 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #cccccc;
}

div.page {
    width: 50rem;
    margin: 0 auto;
}

h1 {
    font-size: 120%;
    font-weight: bold;
}

h2 {
    font-size: 110%;
    margin-top: 1em;
    font-weight: bold;
}

h3 {
    margin-top: 1em;
    font-weight: bold;
}

div.head-cau {
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    background-color: #9b0a7d;
    font-size: 80%;
}

div.head {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #f29400;
    font-size: 80%;
}

div.head ul li:not(.last) {
    margin: 0 0 0.5em 0;
}

div.main {
    padding: 1rem;
    background-color: white;
}

div.main ul li {
    @include standard-spacing;
}

div.main ul.menu li {
    @include wider-spacing;
}

div.main dt {
    @include standard-spacing;
}

div.foot {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #f29400;
    font-size: 80%;
}

div.foot li {
    display: inline;
    padding-right: 2em;
}

p {
    @include standard-spacing;
    line-height: 1.4;
}

div.main a, div.foot a {
    border-bottom: 1px dotted black;
}

div.head-cau a:hover {
    border-bottom: 2px solid white;
}

div.head a:hover, div.main a:hover, div.foot a:hover {
    border-bottom: 2px solid black;
}

b {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

code, pre {
    font-family: "Courier New", Courier, monospace;
    background-color: #eeeeee;
    line-height: 1.4;
}

code {
    padding: 0 0.5em;
    font-size: 90%;
}

q {
    quotes: "“" "”" "‘" "’";
    &:before {
        content: open-quote;
    }
    &:after {
        content: close-quote;
    }
}

div.form-group {
    @include standard-spacing;
}

div.form-group input {
    @include standard-spacing;
}

input:not([type=radio]):not([type=checkbox]) {
    display: block;
    border: 1px solid black;
    padding: 0.5em;
    width: 32em;
}

input:not([type=radio]):not([type=checkbox]):focus {
    border: 1px solid #f29400;
}

select {
    border: 1px solid black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    background-color: #dddddd;
    border: 2px solid #cccccc;
    padding: 0.5em;
}

button:hover {
    border: 2px solid #f29400;
}

@import "checkbox";

dt {
    font-weight: bold;
}

table {
    @include standard-spacing;
    border-collapse: separate;
    border-spacing: 1em 0em;
}

table th {
    font-weight: bold;
    text-align: right;
}

table.quota td {
    text-align: right;
}
