<div class="form-group">
  <label for="first_name">First name:</label>
  <input name="first_name" id="first_name" maxlength="64" <% if @user %> value="<%= h @user.first_name %>" <% end %> />
</div>
<div class="form-group">
  <label for="last_name">Last name:</label>
  <input name="last_name" id="last_name" maxlength="64" <% if @user %> value="<%= h @user.last_name %>" <% end %> />
</div>
<div class="form-group">
  <label for="email">E-mail address (must end in <code>.uni-kiel.de</code>):</label>
  <input name="email" id="email" maxlength="64" <% if @user %> value="<%= @user.email %>" <% end %> />
</div>
<% if @user %>
  <input name="username" type="hidden" />
<% else %>
  <div class="form-group">
    <label for="username">Username (leave blank to auto-generate):</label>
    <input maxlength="32" name="username" id="username" />
  </div>
<% end %>
<div class="form-group">
  <label for="groupname">Group:</label>
  <select name="groupname" id="groupname">
    <% LDAP_GROUPS_NAMES.each do |groupname| %>
      <option value="<%= groupname %>"
              <% if (@user && @user.groupname == groupname) || (! @user && USERDB_DEFAULT_GROUP_NAME_ADDUSER == groupname) %> selected <% end %>>
        <%= groupname.split(".")[0] %>
      </option>
    <% end %>
  </select>
</div>
<div class="form-group">
  <label for="quota_block">Block quota in GB:</label>
  <input name="quota_block" id="quota_block" maxlength="64" <% if @user %> value="<%= @user["_quota_block"] %>" <% end %> />
</div>
<div class="form-group">
  <label for="quota_block">Inode quota in thousands:</label>
  <input name="quota_inode" id="quota_inode" maxlength="64" <% if @user %> value="<%= @user["_quota_inode"] %>" <% end %> />
</div>
<div class="form-group">
  <label for="valid_for">Valid for (e.g., 10 days):</label>
  <input name="valid_for"
         id="valid_for"
         maxlength="64"
         <% if @user && @user.valid_for %> value="<%= ChronicDuration.output(@user.valid_for) %>" <% end %> />
</div>
<% unless @user %>
  <div class="form-group">
    <label class="checkbox">
      The user was notified about the <%= a URL_TERMS_OF_USE, "terms of use (including a data protection statement)" %>
      and has accepted them.
      <input type="checkbox" name="terms_of_use" id="terms_of_use" />
      <span class="checkmark"></span>
    </label>
  </div>
<% end %>
<% if @user %>
  <% if @user.expired_0? %>
    <p>This user is expired for <%= ChronicDuration.output(@user.expired_for) %>.</p>
  <% end %>
  <div class="form-group">
    <label class="checkbox">
      Renew now?
      <input type="checkbox" name="renew_now" id="renew_now" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="form-group">
    <label class="checkbox">
      Barred?
      <input type="checkbox" name="barred" id="barred" <% if @user.barred? %> checked <% end %> />
      <span class="checkmark"></span>
    </label>
  </div>
<% end %>
